extends layout

block content

  h1= title

  - let earbuds = results

  div(class = "container-fluid")

    div(class = "row")

     each item in results

       div(class="col-sm-2") earbuds company:#{item.earbuds_company}, earbuds colour:#{item.earbuds_colour}, earbuds cost:#{item.earbuds_cost}